.container {
  /* padding: 0 0rem; */
  display: flex;
  flex-direction: column;
  /* height: 10vh; */
  grid-column: 1/span 10;
  grid-row: 1/2;
  align-items: center;
  /* width: 100vw; */
}

/* .title {
  font-family: 'Rock Salt', cursive;
  margin-top: 30px;
  line-height: 1.15;
  font-size: 3rem;
  z-index: 1;
  text-align: left;
} */

.title,
.description {
  font-family: 'Rock Salt', cursive;
  z-index: 1;
  margin-left: 20px;
}

.title{
  position: relative;
  z-index: 100;
  width: 300px;
}

.top-circle {
  position: absolute;
  top: -500px;
  /* left: -200px; */
  width: 800px;
  height: 800px;
  background: blue;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 500px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    #e5c72d 35.27%,
    rgba(45, 229, 96, 0.9) 100%
  );
  box-shadow: 42px 40px 23px 34px rgba(0, 0, 0, 0.25);
}

.top-circle-wrapper {
  position: relative;
  width: 800px;
  /* align-self: center; */
  justify-self: center;
  grid-column: 3 / 8;
  grid-row: 1/2;
}

.container-title{
  /* color: aqua; */
  color: aliceblue;
}

.container-description {
  text-align: center;
  font-family: 'Rock Salt';
  font-size: 1rem;
  line-height: 1;  
  background-color: antiquewhite;
  position: relative;
  width: 30vw;
  right: 50px;
  /* height: 60px; */
  /* top: 140px; */
  z-index: 1;
  border-radius: 70px;
  border: 2px black solid;
  align-self: flex-end;
}

/* .container-matt {
  background-image: url('/public/mateo-sentado-sinfondo.png');
  z-index: 2;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 530px;
  bottom: -50px;
} */



@media screen and (max-width: 600px) {
  .container-description{
    /* margin-top: 20px; */
    align-self: center;
    width: 60vw;
    right: 0;
  }
}
