.container {
  /* padding: 0 0rem; */
  display: flex;
  flex-direction: column;
  height: 10vh;
  grid-column: 1/span 10;
  grid-row: 1/2;
  align-items: center;
  /* width: 100vw; */
}



/* .title {
  font-family: 'Rock Salt', cursive;
  margin-top: 30px;
  line-height: 1.15;
  font-size: 3rem;
  z-index: 1;
  text-align: left;
} */

.title,
.description {
  font-family: 'Rock Salt', cursive;
  z-index: 1;
  margin-left: 20px;
}

.title{
  position: relative;
  z-index: 100;
  width: 300px;
}

.container-title{
  /* color: aqua; */
  color: aliceblue;
}

.description {
  /* margin: 4rem 0; */
  line-height: 1;
  font-size: 1rem;
  text-align: center;
}

.container-description {
  background-color: antiquewhite;
  position: absolute;
  width: 580px;
  max-width: calc(100% - 10px);
  height: 60px;
  top: 140px;
  z-index: 1;
  border-radius: 70px;
  border: 2px black solid;
  align-self: flex-end;
}

/* .container-matt {
  background-image: url('/public/mateo-sentado-sinfondo.png');
  z-index: 2;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 530px;
  bottom: -50px;
} */



@media (max-width: 600px) {
  .container-description{
    margin-top: 20px;
  }
}
