.navbar-wrapper{
  /* display: flex; */
  z-index: 99;
  /* position: fixed; */
  width: 300px;
  margin-left: 40px;
  height: 300px;
  justify-self: center;
  grid-column: 5/6;
  grid-row: 2/2;
}

.navbar{
  z-index: 99;
  background: linear-gradient(
    180deg,
     rgba(45, 248, 252, 0.38) 50%,
    rgba(52, 160, 83, 0.78) 80%
  );
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* position: absolute; */
  /* margin-left: auto;
  margin-right: auto;
  top: 00px;
  left: 0;
  right: 0; */
  /* margin-top: 18rem; */
  /* display: flex; */
  /* align-self: center; */
  /* margin-left: 35rem; */
}

.navbar ul{
  list-style: none;
  
}

.navbar ul li{
  margin-top: 30px;
  
}

.navbar ul a{
  color: aliceblue;
  font-family: 'Patrick Hand SC';
  font-size: var(--font-size-lg);
  margin-top: 10px;
}

.burger{
  position: relative;
  /* display: ; */
  /* top: -83%; */
  /* left: 100%; */
  color:cornsilk;
  font-size: 4rem;
  cursor: pointer;
  z-index: 99;
  grid-column: 7/10;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

@media (max-width: 600px) {
  .navbar-wrapper{
    grid-column: 4/ span 2;
  }
}

/* functional classes */

.displaynone{
  display: none;
}

.displaypages{
  background: black;
  height: 50vh;
}

