.navbar-wrapper{
  /* display: flex; */
  z-index: 99;
  /* position: fixed; */
  width: 300px;
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: 60px; */
  height: 300px;
  justify-self: center;
  grid-column: 5/6;
  grid-row: 2/2;
}

.navbar{
  /* position: sticky; */
  z-index: 99;
  background: linear-gradient(
    180deg,
     rgba(45, 248, 252, 0.38) 50%,
    rgba(52, 160, 83, 0.18) 80%
  );
  box-shadow:
    inset 0 0 20px #fff,
    inset 10px 0 20px #f0f,
    inset -10px 0 20px #0ff,
    inset 10px 0 20px #f0f,
    inset -5px 0 5px #0ff,
    0 0 10px #fff,
    -10px 0 30px #f0f,
    10px 0 30px #0ff;
  border-radius: 15px;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* position: absolute; */
  /* margin-left: auto;
  margin-right: auto; */
  /* top: 00px;
  left: 0;
  right: 0; */
  /* margin-top: 18rem; */
  /* display: flex; */
  /* align-self: center; */
  /* margin-left: 35rem; */
}

.navbar ul{
  /* list-style: none; */
  font-size: 0;
  padding: 0;
  text-align: center;
}

.navbar ul li{
  /* display: flex; */
  margin-top: 40px;
  /* margin-right: 40px; */
  
}

.navbar ul a{
  color: aliceblue;
  /* font-family: 'Patrick Hand SC'; */
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Edu QLD Beginner', cursive; */
  /* font-family: 'Rock Salt', cursive; */
  font-size: calc(var(--font-size-md)*1.5);
  /* font-size: 1.3rem; */
}

.burger{
  position: relative;
  /* display: ; */
  /* top: -83%; */
  /* left: 100%; */
  color:cornsilk;
  font-size: 4rem;
  cursor: pointer;
  z-index: 99;
  grid-column: 7/10;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  /* position:sticky; */
  /* background-color: blueviolet; */
}

@media (max-width: 600px) {
  .navbar-wrapper{
    grid-column: 5/ span 1;
    
  }
}

/* functional classes */

.displaynone{
  display: none;
}

.displaypages{
  background: rgb(0, 0, 0);
  padding: 40px;
  /* height: 50vh; */
}

