.page-container{
  display: flex;
  flex-direction: column;
  height: 10vh;
  grid-column: 1/span 10;
  grid-row: 1/2;
  align-items: center;
}

.page-title{
  color: aliceblue;
  z-index: 99;
  font-family: 'Rock Salt', cursive;
  /* font-family: 'Permanent Marker', cursive; */
}

.description{
  position: relative;
  z-index: 100;
  width: 300px;
}

.area {
  grid-column: 2 / span 7;
  grid-row: 1/4;
  z-index: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  position: relative;
  /* width: 1224px; */
  width:fit-content;
  height: fit-content;
  justify-self: center;
  width: 100%;
  margin-top: 150px;
  /* left: 119px; */
  /* top: 191px; */

  background: linear-gradient(
    180deg,
    rgba(229, 199, 45, 0.52) 35.27%,
    rgba(45, 229, 96, 0.78) 100%
  );
  box-shadow: 42px 40px 23px 34px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* .card-container1{
  position: relative;
  left: 100px;
  top: 100px;
}
.card-container2{
  position: relative;
  left: 300px;
  top: 100px;
} */
/* .card-container3{
  position: relative;
  left: -300px;
  top: 450px;
} */
/* .card-container4{
  position: relative;
  left: -1700px;
  top: 450px;
} */

@media (max-width: 600px) {
  .area {
    /* height: 1283px; */
    width: 119%;
  }
}
